@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #0BBC5A;
    --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
}


/* base styles start */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "Arial", sans-serif, serif;
}

body {
    overflow-x: hidden;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
}

.button {
    padding: 14.5px 82px;

    background: var(--primary-color);
    box-shadow: 0px 0px 14px rgba(228, 228, 228, 0.6);
    border-radius: 7px;

    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}


/* base styles end */


/* topbar styles start */

.topbar {
    background: var(--primary-color);
}

.topbar__content {
    padding: 15px 0px;
}

.topbar__info-link {
    margin-right: 56px;
    text-decoration: none;
    font-size: 12px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.topbar__info-link img {
    margin-right: 6px;
}

.topbar__content,
.topbar__nav-list,
.topbar__content-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.topbar__item-link {
    margin: 0px 7px;
}

.topbar__language {
    display: flex;
    align-items: center;
    margin-left: 36px;
}

.topbar__btn {
    margin: 0px 6px;
    width: 22px;
    height: 22px;

    border-radius: 50%;
    border: 1px solid #FFFFFF;
    background: transparent;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.35);
    font-size: 10px;
    color: #FFFFFF;
}

.language-active {
    background: #FFFFFF;
    color: var(--primary-color);
}

/* topbar styles end */



/* header styles start */

.header {
    margin-bottom: 10px;
    background-color: #fff;
    left: 0;
    z-index: 100;
    width: 100%;
    height: auto;
    margin: 0 auto;
    transition: all 0.35s ease;
}

.header.on-scroll {
    background: white;
    position: fixed;
    top: 0;
    box-shadow: var(--shadow-medium);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
    width: 100%;
    padding: 0px 30px;
    height: 4.25rem;
    margin: 0 auto;
}

.header__menu {
    position: fixed;
    top: -115%;
    left: 0;
    width: 100%;
    height: auto;
    padding: 4rem 0 3rem;
    overflow: hidden;
    background-color: white;
    box-shadow: var(--shadow-medium);
    transition: all 0.4s ease-in-out;
}

.header__menu.is-active {
    top: 0;
    width: 100%;
    height: auto;
}

.header__menu-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.25rem;
    list-style-type: none;
}

.header__menu-link {
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #000000;
}

.header__btn {
    padding: 9px 25px;
    background: #E86F04;
    box-shadow: 0px 0px 14px rgba(255, 159, 74, 0.6);
    border-radius: 7px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}

.header__burger {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
    order: -1;
    z-index: 10;
    width: 1.75rem;
    height: 1rem;
    border: none;
    outline: none;
    background: none;
    visibility: visible;
    transform: rotate(0deg);
    transition: 0.35s ease;
}

.header__burger-line {
    position: absolute;
    display: block;
    right: 0;
    width: 100%;
    height: 2px;
    border: none;
    outline: none;
    opacity: 1;
    transform: rotate(0deg);
    background-color: black;
    transition: 0.25s ease-in-out;
}

.header__burger-line:nth-child(1) {
    top: 0px;
}

.header__burger-line:nth-child(2) {
    top: 0.5rem;
}

.header__burger-line:nth-child(3) {
    top: 1rem;
}

.header__burger.is-active .header__burger-line:nth-child(1) {
    top: 0.5rem;
    transform: rotate(135deg);
}

.header__burger.is-active .header__burger-line:nth-child(2) {
    right: -1.5rem;
    opacity: 0;
    visibility: hidden;
}

.header__burger.is-active .header__burger-line:nth-child(3) {
    top: 0.5rem;
    transform: rotate(-135deg);
}

/* header styles end */


/* message styles start */

.message{
    margin-top: 41px;
}
.message__content{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}
.message__title{
    font-family: 'Poppins';     
    font-weight: 500;
    font-size: 40px;
    color:var(--primary-color);    
}
.message__left-text{
    max-width: 525px;

    font-family: 'Poppins';
    font-size: 16px;
    color:  rgba(68, 68, 65, 1);
}

.message__left-contacts {
    margin: 20px 0 40px 0;
}


.message__left-contact {
    display: flex;
    margin-bottom: 20px;
}

.message__left-contacts-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: var(--primary-color);

    margin-left: 10px;
}

.message__left-social {
    display: flex;
}

.message__left-social-item {
    width: 44px;
    height: 44px;
    background-color: var(--primary-color);
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.message__left-social-item:not(:last-child) {
    margin-right: 30px;
}


.message__send{
    max-width: 625px;
    padding: 50px 40px;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(51, 51, 51, 0.1);
    border-radius: 20px;
}
.message__send-form{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.message__send-input,.message__send-btn,.message__send-text {
    margin: 5px 0px;
    padding: 18px;
    max-width: 545px;
    max-height: 60px;
    background: #FFFFFF;
    border: 1px solid #7A7A7A;
    border-color: #7A7A7A;
    border-radius: 7px;

    font-family: 'Poppins';
    font-size: 16px;
    color: #151515;
}
.message__send-btn{
    color: white;
    background: var(--primary-color);
}


/* footer styles start */

.footer {
    margin-top: 50px;

    background-color: #F2FFF8;
}

.footer__content {
    padding: 55px 30px;
}

.footer__inner {
    padding-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(0, 0, 0, 0.3);
}

.footer__download {
    display: flex;
    flex-direction: column;
}

.footer__info-nav {
    margin-top: 41px;
}

.footer__info-nav,
.footer__nav-social {
    display: flex;
    align-items: center;
}

.footer__nav-social {
    list-style: none;
}

.footer__info-link {
    margin: 0px 56px 0px 0px;
    display: flex;
    align-items: center;

    text-decoration: none;
    font-family: 'Poppins';
    font-size: 12px;
    line-height: 18px;
    color: #484848;
}

.footer__item-link {
    margin: 0px 6px;
}

.footer__bottom {
    margin-top: 16px;
}

.footer__bottom-copyright {
    text-align: center;
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 130%;
    color: #484848;
}

/* footer styles end */



@media screen and (max-width:1024px) {
    .message__content,.message__left{
        display: flex;
        flex-direction: column;
    }
    .message__send {
        width: 100%;
        margin-top: 30px;
    }
    .logo{
        max-width: 100px;
    }
}   




@media screen and (min-width:481px) and (max-width:768px) {
    .container {
        max-width: 480px;
        margin: 0 auto;
    }


    .footer__content {
        padding: 35px 20px;
    }

    .footer__inner {
        flex-direction: column;
    }
    .footer__nav-social {
        margin-top: 10px;
    }
    .footer__info-nav {
        display: flex;
        flex-direction: column;
    }
    .footer__info-link {
        margin: 0;
    }
    .footer__download {
        margin: 30px auto 0 auto;
        flex-direction: initial;
        justify-content: space-around;
    }

    .footer__download-link img {
        max-width: 120px;
    }

}




/* responsive design */

@media only screen and (min-width: 48rem) {
    .header__menu {
        position: relative;
        top: 0;
        width: auto;
        height: auto;
        padding: 0rem;

        background: none;
        box-shadow: none;
    }

    .header__menu-inner {
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        margin: 0 auto;
    }
}


@media screen and (max-width:480px) {
        /* base styles start */
        .container {
            max-width: 320px;
            margin: 0 auto;
        }
    
        .button {
            padding: 10px 42px;
            font-size: 14px;
        }
    
        .secondary-button {
            padding: 10px 35px;
            font-size: 14px;
        }
    
        .navbar {
            padding: 0px 10px;
        }
        /* topbar */
    
        .topbar__content-info {
            display: none;
        }
    
        .topbar__nav {
            margin: 0;
            margin-right: 100px;
        }

        /* topbar */

    .logo {
        width: 120px;
    }

    .header__btn {
        padding: 5px;
        font-size: 14px;
    }

    .message{
        margin-top: 30px;
    }

    .message__send{
        max-width: 275px;
        padding:20px;
    }
    .message__send-input,.message__send-btn,.message__send-text {
        margin: 5px 0px;
        padding: 18px;
        max-width: 235px;
    }
    .message__content,.message__left{
        align-items: center;
    }
    .message__left-contacts{
        display: flex;
        align-items: center;
        column-gap: 70px;
    }
    .message__left-contacts-text{
        display: none;
    }
    .message__left-text,.message__title {
        text-align: center;
    }

    
    .footer__content {
        padding: 35px 20px;
    }

    .footer__inner {
        flex-direction: column;
    }
    .footer__nav-social {
        margin-top: 10px;
    }
    .footer__info-nav {
        display: flex;
        flex-direction: column;
    }
    .footer__info-link {
        margin: 0;
    }
    .footer__download {
        margin: 30px auto 0 auto;
        flex-direction: initial;
    }

    .footer__download-link img {
        max-width: 120px;
    }    

}

@media only screen and (min-width: 48rem) {
    .header__burger {
        display: none;
        visibility: hidden;
    }
}

@media screen and (min-width:800px) and (max-width:1200px) {
    .header__menu-link {
        font-family: inherit;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5;
        color: black;
        text-transform: uppercase;
        transition: all 0.3s ease;
    }

    .header__menu-inner {
        column-gap: 7px;
    }

    .logo {
        width: 150px;
    }
}

@media screen and (min-width:1000px) {
    .header__menu-link {
        margin: 0px 20px;
    }

}

@media screen and (max-width: 1200px) {

    .topbar__content {
        justify-content: space-around;
    }

    .topbar__nav {
        margin: 0;
    }

    .topbar__info-link {
        margin-right: 20px;
    }

    .topbar__info-link p {
        display: none;
    }
    .header__menu-link{
        font-size: 12px;
    }
    .logo{
        max-width: 135px;
    }
    .message__content{
        padding: 0px 30px;
    }
}

@media screen and (max-width: 1024px) {
    .header__menu-link {
        margin: 0px 7px;
    }
}

@media screen and (max-width:900px) {
    .header__menu-link {
        margin: 0px;
        font-size: 12px;
    }
    .header__btn {
        padding: 5px;
        font-size: 14px;
        line-height: 18px;
    }
}